.container.members .col-md-8{
    margin: 0 auto;
}

.container.members *{
    color: #414141;
}

.umbraco-forms-form .umbraco-forms-field-wrapper input,
.umbraco-forms-form .umbraco-forms-field-wrapper textarea{
    width: 100%;
}

.umbraco-forms-form .umbraco-forms-field-wrapper input{
    height: 40px;
    border-radius: 7px;
    border: 1px solid #3d5a7b8f;
    padding: 7px;
}

.umbraco-forms-form .umbraco-forms-field-wrapper textarea{
    height: 80px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 7px;
    border: 1px solid #3d5a7b8f;
    padding: 7px;
}

.umbraco-forms-field{
    padding-bottom: 2em;
}

.umbraco-forms-container.col-md-12{
    padding: 0;
}

.jobdetails{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.umbraco-forms-form .umbraco-forms-fieldset legend {
    font-weight: normal;
    font-size: 1.4em;
    line-height: inherit;
}

.umbraco-forms-form fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.umbraco-forms-form input.text, .umbraco-forms-form textarea{
    max-width: 100% !important;
}