.container.members .col-md-8{
    margin: 0 auto;
}

.table tbody tr:nth-child(2n+3){
    background-color: #f0f0f062;
}

.table tbody tr:hover{
    background-color: #f0f0f0;
}

.table td{
    color: #686868;
}

.table th{
    color: #414141;
}

.table .cps-bright-blue-bg td{
    color: #FFFFFF;
}

.table thead th p{
    white-space: nowrap;
    margin-bottom: 0 !important;
}

.linkover{
    margin: 0px 0 1em 0;
    color: #00325d;
    padding: 15px;
    line-height: 100%;
    float: none;
    border-radius:12px;
    display: flex;
    align-items: center;
}

.linkover img{
    border-radius: 50%;
    display: inline-block;
}

.linkover h2 {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0 0 0 0.75em;
}

.row .col-sm-12{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row .col-sm-12 a{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-basis: 100%;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.2em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border: 1px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      display: flex;
    justify-content: space-between;
    }
    
    table td:before {
      content:'';
      font-weight: bold;
      text-align: left;
    }

    table td:nth-child(1):before {
      content: 'Adjusted Price Items';
    }

    table td:nth-child(2):before {
      content: 'Pack Size';
    }

    table td:nth-child(3):before {
      content: 'Adjusted Prices';
    }

    table td:nth-child(4):before {
      content: 'Movement';
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

@media screen and (min-width: 767px){
    .row .col-sm-12 a{
        flex-basis: 50%;
    }
    .section-menu-top > div:nth-child(1) > a:nth-child(1) > div:nth-child(1){
        margin: 0 1em 0em 0;
    }
}

#movement-filter{
  width: 100%;
  display:flex;
  justify-content:flex-end;
  align-items: center;
  margin: 1.5em 0 0 0.3em;
}

#movement{
  margin: 0 5px 0 0 !important;
}

#movement-filter label{
  margin: 0 !important;
  font-weight:500;
  color: #686868;
  user-select: none;
}