.container.members .col-md-8{
    margin: 0 auto;
}

.section-menu ul,
.text-area ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.text-area ul{
    margin-bottom: 3em;
}

.section-menu ul h4,
.text-area ul h4{
    margin: 0;
    font-weight: 600;
}

.section-menu ul a,
.text-area ul a{
    text-decoration: none;
}

.members-pack,
.section-menu ul{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.col-sm-6,
.col-sm-4{
    width: 100%;
    margin-bottom: 1em;
    float: none;
}

@media screen and (min-width:600px){
    .col-sm-6,
    .col-sm-4{
        width: 50%;
    }
}

@media screen and (min-width:900px){
    .col-sm-4{
        width: calc(100% / 3);
    }
}

.col-sm-6 .linkover,
.col-sm-4 .linkover{
    margin: 0 !important;
    height: 100% !important;
    display: flex;
    align-items: center;
}

.col-sm-6 .linkover h4{
    font-size: 1em !important
}