.text-area ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
}


.text-area p{
    font-size: 1em !important;
    font-weight: 400 !important;
    border-bottom: 1px solid #eee;
    padding-bottom:5px;
    margin-bottom:1em;
    color:#414141;
}

.text-area p strong{
    font-size: 1.4em !important;
    color: #0079C1;
}

.text-area ul li a{
    padding: 20px 30px;
    display: block;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #5AABB7;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    margin: 0 1em 1em 0;
}

.text-area ul li a:hover{
    background-color: #539ba7;
}

.text-area .umb-grid .grid-section .container,
.text-area .umb-grid .grid-section .container .col-md-12{
    max-width:100%;
    padding: 0;
}

.text-area .umb-grid p,
.text-area .umb-grid li{
    border-bottom: none;
}

.text-area .umb-grid p a{
    color:#0079C1;
}

.text-area .umb-grid ul{
    list-style:disc;
    padding-left:1em;
    display: block;
}

.text-area .umb-grid ul li{
    margin-bottom: 1em
}

.text-area .umb-grid ul li a{
    max-width: max-content;
    margin-top:1em;
}

.H5Orange{
    font-size: 1.4em;
    color:#0079C1;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom:5px;
}

.Light-Blue{
    background-color:#B0CCE7;
    border-radius: 12px;
    padding: 1.5em 1.5em 0 1.5em;
}

.Light-Blue p{
    color: #414141;
}

.Light-Blue p a{
    font-weight: bold;
    color: #3D5A7B;
}