.container.members .col-md-8{
    margin: 0 auto;
}

.table > tbody > tr:nth-child(4n+3){
    background-color: #f0f0f062;
}

.table > tbody > tr:hover{
    background-color: #f0f0f0;
}

.table td{
    color: #686868;
}

.additional-info div{
    padding: 1em;
}
.additional-info tr{
    margin: 0.5em 0;
    display: block;
}

.pack-table td{
    display: inline-block;
    margin-right: 3em;
    margin-bottom: 0.5em;
}

.table td a{
    color:#0079C1 !important;
}

.table .item-link:hover {
    text-decoration: none !important;
}

.table td a:before{
    content: '+';
    border: 1px solid #E0E0E0;
    padding: 0 4px;
    margin-right:0.75em;
}

.table td a.open:before{
    content: '–';
}

.table thead tr th:nth-child(1){
    position: relative;
    padding-left:1em;
}
