.container{
    width: 100%;
}

.update-header{
    display: flex;
    align-items: center;
    padding: 1.5em;
}

.update-header h2 {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0 0 0 0.75em;
}

.update-header h2 span{
    font-weight: 300;
    display: block;
}

.update-header img{
    border-radius: 50%;
    display: inline-block;
}

a{
    text-decoration: none;
    display: inline-block;
}

.sidebar{
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
}

.row .col-sm-8{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left:0;
    padding-right: 0;
}
.row .col-sm-8 a{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-basis: 100%;
}

.row .col-sm-8 a:hover,
.row .col-sm-8 a:focus{
    text-decoration: none !important;
}

@media screen and (min-width: 767px){
    .row .col-sm-8 a{
        flex-basis: 50%;
    }
    .linkover{
        margin: 0 1em 1em 0;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

.update{
    border-bottom: 1px solid #0098A7;
}

.yourareamember,
.update{
    padding: 1.5em;
}

.yourareamember label,
.update label{
    font-size: 1em;
    font-weight: 300;
    color: #FFFFFF;
}

.update label{
    margin-top: 1em;
}

.yourareamember h4, .yourareamember li, .update h4{
    font-size: 1.2em;
    font-weight: 700;
    color: #FFFFFF;
}

.yourareamember ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.yourareamember li{
    display: inline-block
}

.yourareamember li:after{
    content: ',';
}

.yourareamember h4{
    margin-bottom: 1em;
    margin-top: 0;
}

/*Login CSS*/

.form-signin .form-control{
    margin: 1em 0 1.5em 0;
}

.forgotten-pass-btn{
    margin-bottom: 6em;
}
