.container.members .col-md-8{
    margin: 0 auto;
}

.container.members *{
    color: #414141;
}

.sub-menu{
    list-style: none;
    padding: 0;
}

.sub-menu a:hover{
    text-decoration: none;
}

.linkover{
    padding: 12px 15px; 
    background-color: #F3F2F3;
    
}

.linkover:hover{
    background-color:#0079C1;
}

.linkover h5{
    font-weight: bold;
}

.linkover:hover h5{
    color: #FFFFFF !important;
}

@media screen and (max-width:991px){
    .col-md-3{
        margin-top:3em;
    }
}