.container.members .col-md-8{
    margin: 0 auto;
}

.cssFormStage{
    padding: 0 2em 1em 2em;
}

.cssFormStage *{
    color: #414141;
}

.cssFormStage label,
.highlight-blue{
    font-size: 1.4em;
    font-weight: 600 !important;
    margin-bottom: 0.75em;
    color: #414141;
}

.ready-reckoner-stage{
    padding: 1em 2em 1em 2em;
}

.highlight-blue{
    padding: 1em 1.5em 0em 1.5em;
}

#idFormContractorContribution{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #c7c7c7;
    font-size: 1.4em;
    padding: 0.5em;
}

.risk-assessment *{
    color: #414141;
    font-size: 1em;
    font-weight: 500;
}

.risk-assessment{
    padding: 1em 0;
}

.assessment-row{
padding: 2em 10px;
border-bottom: 1px solid #c7c7c7;
}

.assessment-row .label{
    float: left;

}

.assessment-row .value{
    float: right;
}

.nav-tabs{
    border-bottom: none;
}

.nav-tabs a{
    text-align: center !important;
    border: 1px solid #c7c7c7 !important;
    border-radius: 7px !important;
    line-height: 110% !important;
    height:52px;
    width: 52px;
    margin-right: 0.75em !important;
    margin-bottom: 0.75em !important;
}

.nav-tabs .active a{
    color: #FFFFFF !important;
    background-color: #0079C1 !important;
    border-color: #0079C1 !important;
}