.cps-bright-blue{
    color: #0079C1 !important;
}

.cps-bright-blue-bg{
    background-color: #0079C1 !important;
}

.cps-dark-blue{
    color: #3D5A7B !important;
}

.cps-dark-blue-bg{
    background-color: #3D5A7B !important;
}

.linkover.cps-dark-blue-bg:hover{
    background-color: #36506d !important;
}

.cps-mid-blue{
    color: #5492CB !important;
}

.cps-mid-blue-bg{
    background-color: #5492CB !important;
}

.linkover.cps-mid-blue-bg:hover{
    background-color: #4a80b3 !important;
}

.cps-light-blue{
    color: #B0CCE7 !important;
}

.cps-light-blue-bg{
    background-color: #B0CCE7 !important;
}

.linkover.cps-light-blue-bg:hover{
    background-color: #9ab3ca !important;
}

.cps-bright-teal{
    color: #0098A7 !important;
}

.cps-bright-teal-bg{
    background-color: #0098A7 !important;
}

.cps-mid-teal{
    color: #5AABB7 !important;
}

.cps-mid-teal-bg{
    background-color: #5AABB7 !important;
}

.linkover.cps-mid-teal-bg:hover{
    background-color: #539ba7 !important;
}

.cps-light-teal{
    color: #6BC2C6 !important;
}

.cps-light-teal-bg{
    background-color: #6BC2C6 !important;
}

.cps-orange{
    color: #E95E3F !important;
}

.cps-orange-bg{
    background-color: #E95E3F !important;
}

.cps-light-gray{
    color: #c7c7c7 !important;
}

.cps-light-gray-bg{
    background-color: #c7c7c7 !important;
}

.cps-gray{
    color: #686868 !important;
}

.cps-gray-bg{
    background-color: #686868 !important;
}

.cps-dark-gray{
    color: #414141 !important;
}

.cps-dark-gray-bg{
    background-color: #414141 !important;
}

.cps-white{
    color: #FFFFFF !important;
} 

.cps-white-bg{
    background-color: #FFFFFF !important;
}

.container.members{
    max-width:1080px;
    padding-top:8em;
}

.container.members .row{
    width: 100%;
}

.action-btn,
.btn.primary{
    width: 100%;
    border: none;
    text-align: center;
    padding: 0.5em 0.5em 0.6em 0.5em;
    font-size: 1.2em;
    font-weight: 700;
    color: #FFFFFF !important;
    border-radius: 7px;
    margin-top:1em;
}

.action-btn:hover,
.btn.primary:hover,
.action-btn:focus,
.btn.primary:focus{
    color: #FFFFFF !important;
    text-decoration: none !important;
}

form{
    margin: 0;
    padding: 0;
}

.text-header{
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    margin-bottom: 2em;
}

.text-header h2{
    color: #FFFFFF;
    font-size: 2em;
    padding-right: 2em;
    margin-top: 0.4em;
margin-bottom: 0.4em;
}

.drugTariffLastUpdate{
    color: #FFFFFF;
    font-size: 1em;
}

.input-group{
    width: 100%;
}

.search-btn{
    width: auto;
    border-radius: 10px !important;
    padding: 0.7em 2em 0.8em 2em;
    margin-top:0;
    display: inline-block;
}

#SearchText{
    height: 50px;
    border-radius: 10px;
    margin-right: 1em;
    display: inline-block;
    float: none;
    width: 100%;
    max-width: calc(100% - 150px);
}

.input-group,
.input-group label{
    margin: 0 0 2em 0;
}

.char-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 2em 0 2em 0;
    padding: 0;
}
.char-list li{
    margin-right:0.62em;
    margin-bottom: 0.62em;
}
.char-list li a{
    text-decoration: none;
    padding: 0.5em;
    border: 1px solid #c7c7c7;
    border-radius: 7px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
}

.char-list li a:hover{
    background-color: #0079C1;
    color: #FFFFFF !important;
    border-color:  #0079C1;
}

.table > :not(:last-child) > :last-child > *{
    border-bottom-width: 2px !important;
    border-bottom-color: #686868 !important;
}

.table > :not(caption) > * > *{
    padding: 1em !important;
}

.table .item-link{
    color: #5492CB;
    text-decoration: none;
    cursor: pointer;
}

.table .item-link:hover{
    color: #3D5A7B;
    text-decoration: underline;
}

.col-md-8{
    float: none !important;
    padding: 0 !important;
}

.col-sm-12{
    padding: 0 !important;
}

.clear-both{
    clear: both;
}

.row {
    margin-right: auto !important;
    margin-left: auto !important;
}

.profile-details,
.form-control,
.umbraco-forms-field-wrapper input,
.umbraco-forms-field-wrapper textarea{
    width: 100%;
}

.profile-details,
.form-signin .form-control,
.umbraco-forms-field-wrapper input,
.umbraco-forms-field-wrapper select{
    height: 40px;
    border-radius: 7px;
    border: 1px solid #3d5a7b8f;
    padding: 7px;
}

.umbraco-forms-field-wrapper textarea{
    height: 80px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 7px;
    border: 1px solid #3d5a7b8f;
    padding: 7px;
}

.profile-details{
    border-color: #0098A7;
    background-color: rgba(255,255,255,0.95);
}

.umbraco-forms-field{
    padding-bottom: 2em;
}

.umbraco-forms-container.col-md-12{
    padding: 0;
}

.umbraco-forms-navigation .col-md-12{
    padding: 0 !important;
}

body{
    padding-bottom: 4em;
}

.navbar-brand,
.navbar-header{
    float: none !important;
}

.navbar-default{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 2em;
    min-height: 89px;
}

.navbar-brand{
    height: auto !important;
}

.main-nav{
    list-style: none;
    padding-left: 0;
}

.main-nav > li{
    float: left;
}

.main-nav button,
.main-nav > li > a{
    font-weight: 600;
    font-size: 1em;
    color: #FFFFFF !important;
    background: transparent;
    border: none !important;
    margin: 0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-nav button:hover,
.main-nav > li > a:hover{
    text-decoration: underline !important;
}

.main-nav > li > a,
.main-nav > li > form{
    float:left;
}

.main-nav > li:not(:last-child):not(:only-of-type):before{
    content: '|';
    float: right;
    height: 50px;
    padding: 1em;
    font-weight: 600;
    font-size: 1em;
    color: #FFFFFF !important;
}

.navbar-toggle{
    display: block !important;
    background: transparent !important;
}

.menu-label{
    float: left;
    padding-right:10px;
    display: block;
}

.icon-bars{
    float: right;
    margin-top:3px;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #FFFFFF !important;
}

.linkover{
    margin: 0px 0 1em 0;
    color: #00325d;
    padding: 22px;
    line-height: 100%;
    float: none;
    border-radius:12px;
    transition: background-color 0.3s ease;
}

.linkover img{
    border-radius: 50%;
    display: inline-block;
}

.linkover h2 {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0 0 0 0.75em;
}


@media screen and (max-width:687px){
    .container.members{
        padding-top: 13em;
    }
    .open .dropdown-main{
        top: 137px;
    }
}

.breadcrumb{
    border-radius: 15px !important;
    padding: 1em !important;
}

.breadcrumb a{
    color: #FFFFFF !important;
    text-decoration: underline;
}

.breadcrumb .active{
    color: #FFFFFF !important;
}

.input-group{
    position: relative;
}

#SearchTextautocomplete-list{
    position:absolute;
    top:calc(100% + 0.5em);
    width:100%;
    max-width: calc(100% - 150px);
    padding:0;
    list-style:none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 1px 3px rgba(0,0,0,.075);
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #FFFFFF !important;
    z-index: 3;
    overflow:hidden;
    transform-origin: top;
}


#SearchTextautocomplete-list div{
    padding: 0.75em 1em;
}


#SearchTextautocomplete-list div:hover{
    background-color:#f1f1f1 !important;
}