.container.members .col-md-8{
    margin: 0 auto;
}

.container.members *{
    color: #414141;
}

.job-title{
    font-size: 2em;
    font-weight: 500;
}

.job-ref{
    font-size: 1.2em;
}

.vacancy-details{
    padding: 0.3em;
}

.top-details,
.contact-details,
.text-area{
    padding: 0 2em;
}

.back{
    font-weight: 600;
    text-decoration: underline;
    font-size: 1em;
    padding: 0 2em;
}

.back img{
    margin-right: 7px;
}

.text-area{
    margin-top: 3em;
    margin-bottom: 3em;
}