.container.members .col-md-8{
    margin: 0 auto;
}

.table tbody tr:nth-child(4n+3){
    background-color: #f0f0f062;
}

.table tbody tr:hover{
    background-color: #f0f0f0;
}

.table td{
    color: #686868;
}

.add-vac{
    width: auto !important;
    padding-left: 2em;
    padding-right: 2em; 
    margin-top: 0;
    text-decoration: none;
}

.vacancy{
    list-style: none;
    padding: 0;
}

.vacancy li{
    background-color: #F3F2F3;
    margin-bottom: 2em;
    padding: 1.5em;
}

.vacancy li h3{
    color: #0079C1;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 0 !important;
}

.vacancy li a{
    text-decoration: none;
}

.vacancy li a:hover{
    text-decoration: underline;
}

.vacancy-details{
    display: inline-block;
    margin-right: 4em;
    color: #414141;
}

.vacancy-desc{
    font-size: 1em;
    margin: 1em 0 0 0;
    color: #414141;
}

.dropdown{
    float: right;
}

.vacancy-sub-title{
    float: left;
    margin: 0.3em 0 0 0;
    font-size: 1.4em;
}

.text-area-vacancy{
    margin-top: 2em;
}