.container.members .col-md-8{
    margin: 0 auto;
}

.table tbody tr:nth-child(even){
    background-color: #f0f0f062;
}

.table tbody tr:hover{
    background-color: #f0f0f0;
}

.table td{
    color: #686868;
}

.table th{
    color: #414141;
}