<head>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
</head>

<body>
    <div class="navbar-default navbar-fixed-top cps-bright-blue-bg" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://www.cps.scot/">
                <img src="/img/logo.png" class="img-responsive">
            </a>
        </div>

        <ul class="main-nav">
            <!-- <li><a href="/">Bookmark your Member Area</a></li> -->
            <li><a href="/">Main CPS Site</a></li>

            <script src="/umbraco_client/ui/jquery.js?cdv=523048950" type="text/javascript"></script><script src="/umbraco_client/Application/JQuery/jquery.validate.min.js?cdv=523048950" type="text/javascript"></script><script src="/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js?cdv=523048950" type="text/javascript"></script>
        </ul>
    </div>
    

<div class="container members">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-signin">
                    <div class="text-header cps-mid-teal-bg">
                        <h2>Please Sign In</h2>
                    </div>
                    <p class="cps-gray">This section of our website is for Members of CPS. For more information, please <a href="mailto:enquiries@cps.scot">send us an email.</a></p>

                    <script src="/umbraco_client/ui/jquery.js?cdv=523048950" type="text/javascript"></script><script src="/umbraco_client/Application/JQuery/jquery.validate.min.js?cdv=523048950" type="text/javascript"></script><script src="/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js?cdv=523048950" type="text/javascript"></script>
                
            <form action="/" enctype="multipart/form-data" method="post">        
                <fieldset>
                    <input class="form-control" data-val="true" data-val-required="The Username field is required." id="loginModel_Username" name="loginModel.Username" placeholder="Username" type="text" value="">
                    <span class="field-validation-valid" data-valmsg-for="loginModel.Username" data-valmsg-replace="true"></span>
                    <input class="form-control" data-val="true" data-val-length="The field Password must be a string with a maximum length of 256." data-val-length-max="256" data-val-required="The Password field is required." id="loginModel_Password" name="loginModel.Password" placeholder="Password" type="password">
                    <span class="field-validation-valid" data-valmsg-for="loginModel.Password" data-valmsg-replace="true"></span>
                    <button class="btn-block action-btn cps-bright-teal-bg">Login</button>
                </fieldset>  
                <input name="__RequestVerificationToken" type="hidden" value="s6QB-pcuxR74uQ3-mHCtVDs1dYakCowj4LAnvpAa-JcqBAoOO_L7nKk4MBuloKQ7sL2BrZvSGpdAiDJ8LfJk0ef4SYJ0yfJE0qctM1PIjlI1"><input name="ufprt" type="hidden" value="1ED6F8E5969792D57C911F6F063D70FA49767E2E98874B996CBBBBD6C7785E51A45751EB0D5079A2200E44C05648B4AC615D1AF14AFFFADA62944592CD35997877799A1573999A91A31EC54647C5492452CC38D82FB0F5273405164618AE9A04E701BA89F90E9C8F53F00B31CD6A09875028FF57318DBAE46A8F23D2395C016C3EE0090C2C56778BABC7BC92E098B253">
            </form>

                    <p><a class="btn-block action-btn cps-orange-bg forgotten-pass-btn" href="/forgotten-password">Forgotten your password?</a></p>

                    <div class="text-header cps-mid-teal-bg">
                        <h2>Associate Members</h2>
                    </div>

                    <p class="cps-gray">Please register your details to access your Member Area</p>

                    <a href="/associate-member-registration/" class="btn-block action-btn cps-bright-teal-bg">Register</a>


                </div>
            </div>
        </div>
    </div>
</div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#updatebtn').click(function () {
                $('.update').show();
                return false;
            });
        });</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-4853033-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-4853033-6');</script>








</body>